.signup,.create-profile{
    /* box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 10px auto;
    padding: 0 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.signin{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.auth-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 416px;
    margin: auto;
}
.auth-content h2{
    font: bold 24px/29px "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.auth-form{
    width: 100%;
}
.form-field label{
    display: block;
    margin: 14px 0 8px;
    color: #0d0c22;
    font: bold 15px/24px "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.form-field .text-input{
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    box-sizing: border-box;
    width: 100%;
    height: 56px;
    padding: 18px 20px;
    border-radius: 12px;
    outline: none;
    background-color: #fff;
    color: #0d0c22;
    appearance: none;
    font-feature-settings: 'ss01';
    border: 2px solid #e7e7e9;
    width: 100%;
    margin-right: 8px;
}
.form-field input[type="checkbox"]{
    margin-right: 20px;
}
/* .form-field input[type="checkbox"]{
    display: flex;
    position: relative;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin: 0 12px 0 0;
    padding: 0;
    border: 1px solid #dbdbde;
    outline: none;
    background: #fff;
    appearance: none;
} */
.form-field textarea{
   min-width: 100%;
    min-height: 100px;
    max-height: 100px;
}
.form-field select{
  padding: 15px 20px !important;
}
.form-field.opt-in{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
/* input[type='checkbox']+label {
    display: block;
} */
/* input[type='checkbox']:checked:after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background-image: url("../assets/checkmark.svg");
    background-repeat: no-repeat;
}
.form-field.opt-in input[type='checkbox']:checked {
    border: 1px solid #ea64d9;
    background-color: #ea64d9;
} */
.form-field.opt-in label {
    position: relative;
    margin: 0;
    color: #0d0c22;
    font: normal 14px/18px "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.auth-btn{
    padding: 0 24px;
    width: 100%;
    height: 56px;
    margin-top: 20px;
    border-radius: 50px;
    border: 1.5px solid ;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #0d0c22;
    color: #fff;
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
}
.auth-btn:hover{
    background-color: #282727;
}
.already-acc, .already-acc a{
    text-align: center;
    color: #3d3d4e;
    margin: 20px 0 0;
    font: normal 14px/20px "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.authError{
    color: red;
    font-weight: 700;
    font-size: 1.1rem;
}